{{outlet}}
{{#link-to 'kid.restrictions' model.kid.id}}
<div class='row'>
  <div class='one-fifth'>
    {{mdl-icon icon='settings'}}
  </div>
  <div class='three-fifths'>
    Diet Restrictions
  </div>
  <div class='one-fifth action'>
    <i class="material-icons">keyboard_arrow_right</i>
  </div>
</div>
{{/link-to}}
