<div class='row header'>
  <div class='golden-small'>
    {{mdl-icon icon='face' class='profile'}}
  </div>
  <div class='golden-large'>
    <h3>{{model.name}}</h3>
    {{model.school}}
  </div>
</div>
{{outlet}}
