{{#login-form}}
{{mdl-textfield label='Password' value='jorge@hawalius.com' disabled='disabled'}}
<section>
  {{mdl-button isRaised=true text='Login' isAccent=true action='login'}}
</section>
{{/login-form}}
